{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %} {% block content %}
<div class="about-container">
    <div class="text-container">
        <h1>Welcome to <span class="title">For the Birds</span>!</h1>

        <p>This app is a hub for finding locations across the country for viewing birds. Whether you're a birder or just a bird lover,
            there's something here for everyone.</p>

        <p>Feel free to add locations of your own, which will be available for all to view. Don't forget to include bird species in the tags,
            so others will know what birds they can expect there!</p>

        <h2>Leave a Review!</h2>
        <p>If you do visit any of these locations and find the birds you want, be sure to leave a review, so others will know!</p>
    </div>
</div>
{% endblock %}