{% extends "base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<div class="home-container">

{% if not user.is_authenticated %}
    <form action="{% url "home" %}" method="post" class="login-container">
        <h1>Login</h1>
        {% csrf_token %} {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit">Login</button>
    </form>
{% else %}
    <h1 id="login-success-text">Click above to get started</h1>
{% endif %}
</div>

{% endblock %}