{% extends "base.html" %}

{% block content %}
<h1>{{ location.name }}</h1>

<h2>{{ location.city }}</h2>

<p>{{ location.tag }}</p>

<p>{{ location.description }}</p>

<p>{{ location.birds }}</p>

<a href="{% url 'location-update' location.id %}">Edit</a>
<a href="{% url 'location-delete' location.id %}">Delete</a>

<h1>Reviews</h1><a href="{% url 'create-review' location.id %}">(Add a Review)</a>
{% for review in location.review_set.all %}
    <div>
        By {{ review.user }}
        {{ review.title }}
        {{ review.rating }} Stars
        {{ review.date }}
        {{ review.text }}
    </div>
    {% if review.user.id == user.id %}
        <a href="{% url 'update-review' location.id review.id %}">Edit</a>
        <a href="{% url 'delete-review' location.id review.id %}">Delete</a>
    {% endif %}
{% endfor %}
{% endblock %}